body {
  margin: 1rem;
  background: linear-gradient(to left, #bed7f5, #234d4e);
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}